{% extends 'base.html' %} 
{% comment %} {% load static %}  {% endcomment %}
{% block content %} 
<h1 class="text-center mt-5">Categorias</h1>
<div class="container mt-5">
    <div class="row">
      {% for i in data %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="{{ i.strCategoryThumb }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ i.idCategory }}</h5>
              <p class="card-text">{{ i.strCategory }}</p>
              <p class="card-text">{{ i.strCategoryDescription|truncatewords:10 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
