{% extends 'base.html' %} 
{% load static %} 
{% block content %} 

<section class="bg-dark ">
    <div class="container text-white  ">
        <div class="row">
          <div class="col m-5">
            <h1  class="text-warning bg-dark">Elevate Your Dining Experience with <br> <span style ="color :#F2F597;" >Pizza Vai </span></h1>
            <p>Pizza, a beloved culinary creation, is an iconic dish that transcends cultural boundaries. A harmonious blend of savory tomato sauce, melted cheese, and an array of toppings atop a perfectly baked crust, pizza offers a symphony of flavors in every bite</p>
            <a href="{% url 'item' %}" class="btn btn-outline-light">Order Now</a>
          </div>
          <div class="col m-5">
            <img src="{% static 'images/pizza.png' %}" class="img-fluid" alt="Responsive image">
          </div>
      </div>
    </div>
    </section>

    <section class=" ">
      <div class="container   ">
          <div class="row">
            <div class="col m-5">
              <img src="{% static 'images/84569.jpg' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col m-5">
              <h1  class=" ">Here’s How to Do It!</h1>
              <p>Pizza, a beloved culinary creation, is an iconic dish that transcends cultural boundaries. A harmonious blend of savory tomato sauce, melted cheese, and an array of toppings atop a perfectly baked crust, pizza offers a symphony of flavors in every bite</p>
              <a href="{% url 'item' %}" class="btn btn-outline-light">Order Now</a>
            </div>
            
          </div>
        </div>
      </section>
    
  

{% endblock %}






